body {
	margin-top: 70px;
}

.jt .navbar-brand, 
.jt .navbar-brand:hover, 
.jt .green {
	color: green;
}

.jt .table {
	margin-bottom: 25px;
}

.jt .list-group .active {
	background-color: #F9F9F9;
	color: #000;
}

.jt #edit-icons {
	margin-top: 30px;
}

footer {
	line-height: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: #222222; 	
	margin-top: 30px;
}